spring:
  data:
    mongodb:
      uri: mongodb+srv://<USR>>:<PASS>>@<BD>/paymentsdb?retryWrites=true&w=majority&appName=payments-batch-poc

  batch:
    job:
      enabled: true

logging:
  level:
    org.springframework.batch: INFO